@{
    foreach(var key in Documents.ByPipeline().Keys)
    {
        <!-- @key -->
    }

    <!-- Context.Documents['Pages'] -->
    foreach(var doc in Documents.FromPipeline("Pages"))
    {
        <!-- @doc.String(BlogKeys.Title) - @doc.Get(BlogKeys.ShowInNavbar, false) - @Context.GetLink(doc) -->
    }

    var pages = Documents
        .Where(x => x.Get<bool>(BlogKeys.ShowInNavbar, false))
        .Select(
            x =>
            {
                var link = Context.GetLink(x);
                var title = x.String(BlogKeys.Title);

                int order = 1000;
                if (string.IsNullOrEmpty(title) && string.Equals(link, "/", StringComparison.OrdinalIgnoreCase))
                {
                    title = "Home";
                    order = -1;
                }

                var orderAsObj = x.Get("Order") as string;
                if (orderAsObj != null)
                {
                    if (!int.TryParse(orderAsObj, out order))
                    {
                        title = string.Empty;
                    }
                }

                return Tuple.Create(title, link, x.Id, order);
            })
        .Where(x => !string.IsNullOrEmpty(x.Item1))
        .OrderBy(x => x.Item4)
        .GroupBy(x => x.Item1)
        .Select(x => x.First());

    foreach(var blogPage in pages)
    {
        var pageTitle = Model.String(BlogKeys.Title);
        var link = Context.GetLink(Model);

        if ((pageTitle == blogPage.Item1) || (string.IsNullOrEmpty(pageTitle) && string.Equals(link, blogPage.Item2, StringComparison.OrdinalIgnoreCase)))
        {
            <li class="active" >
                @blogPage.Item1
            </li>
        }
        else
        {
            <li class="inactive" >
                <a href="@blogPage.Item2">@blogPage.Item1</a>
            </li>
        }
    }
}
