@{
    var Published = Model.Get<DateTime>(BlogKeys.Published);
    var Tags = Model.Get<string[]>(BlogKeys.Tags);
}

<h2>
    @{
        var link = Context.GetLink(Model);
        <a href="@link">@Model.String(BlogKeys.Title)</a>
    }
</h2>
<div id="post-meta">
    <p>
        @if (Published != default(DateTime))
        {
            <text>@Published.ToLongDateString()</text>
        }

        @if ((Published != default(DateTime)) && (Tags != null))
        {
            <text> | </text>
        }
        @if (Tags != null)
        {
            <text>Posted in </text>
            @foreach (string tag in Tags.OrderBy(x => x))
            {
                IDocument tagDocument = Documents[BlogKeys.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag) == tag);
                if(tagDocument != null)
                {
                    <a id="post-category" role="button" href="@Context.GetLink(tagDocument)" class="btn btn-default btn-xs">@tag</a>
                }
            }
        }
    </p>
</div>
